.container {
    max-height: 100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
  }
/* Grid */
.wrapper {
    display: grid;
  }
  
  * {
    box-sizing: border-box;
  }
.wrapper, #about, #welcome, #resume {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    height: 100vh;
}
/* Unav */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
  }
  
  #Unav {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana, sans-serif;
  }
  
  li a:hover {
    background-color: #111;
  }

  * { color:#fff; text-decoration: none;}

/* Color animation in Welcome section */
  #resumeButton {
    background-color: orangered;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0%   {background-color: orangered;}
    25%  {background-color: orange;}
    50%  {background-color: magenta;}
    100% {background-color: orchid;}
  }

/* Grid in Resume Section */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
  }
  
  /* non-essential decorative styles */
  .grid_item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
  }

  /* Footer */
  #contact {
    width: 100%;
    background-color: black;
    color: white;
    text-align: left;
  }
